{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}

   <style>

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    </style>
  
 
    <div class="container">
  <div class="py-5 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <!-- <img src="/media_root/Check Out.jpg" > -->
    <h2>Checkout form</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
  </div>

  <div class="row">


    <div class="col-md-8 order-md-1 card" >
    	
      <h4 class="mb-3" style=" margin-top: 26px;">Billing address</h4>
      <form method="POST" class="needs-validation" novalidate>
      	{% csrf_token %}
        <div class="mb-3">
          <label for="">ชื่อ</label>
          {{ form.first_name }}
        </div>

        <div class="mb-3">
          <label for="">นามสกุล</label>
          {{ form.last_name }}
        </div>

        <div class="mb-3">
          <label for="08xxxxxxxx">เบอร์โทรศัพท์มือถือ</label>
          {{ form.phone_number }}
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          {{ form.street_address }}
        </div>

        <div class="mb-3">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          {{ form.apartment_address }}
        </div>
        <div class="mb-3">
          <label>จังหวัด</label>
            <select name="province" id="province" required="required" class="form-control" required="required">
              <option value="กระบี่">กระบี่</option>
              <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
              <option value="กาญจนบุรี">กาญจนบุรี</option>
              <option value="กาฬสินธุ์">กาฬสินธุ์</option>
              <option value="กำแพงเพชร">กำแพงเพชร</option>
              <option value="ขอนแก่น">ขอนแก่น</option>
              <option value="จันทบุรี">จันทบุรี</option>
              <option value="ฉะเชิงเทรา">ฉะเชิงเทรา</option>
              <option value="ชลบุรี">ชลบุรี</option>
              <option value="ชัยนาท">ชัยนาท</option>
              <option value="ชัยภูมิ">ชัยภูมิ</option>
              <option value="ชุมพร">ชุมพร</option>
              <option value="เชียงราย">เชียงราย</option>
              <option value="เชียงใหม่">เชียงใหม่</option>
              <option value="ตรัง">ตรัง</option>
              <option value="ตราด">ตราด</option>
              <option value="ตาก">ตาก</option>
              <option value="นครนายก">นครนายก</option>
              <option value="นครปฐม">นครปฐม</option>
              <option value="นครพนม">นครพนม</option>
              <option value="นครราชสีมา">นครราชสีมา</option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
              <option value="นครสวรรค์">นครสวรรค์</option>
              <option value="นนทบุรี">นนทบุรี</option>
              <option value="นราธิวาส">นราธิวาส</option>
              <option value="น่าน">น่าน</option>
              <option value="บึงกาฬ">บึงกาฬ</option>
              <option value="บุรีรัมย์">บุรีรัมย์</option>
              <option value="ปทุมธานี">ปทุมธานี</option>
              <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์</option>
              <option value="ปราจีนบุรี">ปราจีนบุรี</option>
              <option value="ปัตตานี">ปัตตานี</option>
              <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา</option>
              <option value="พะเยา">พะเยา</option>
              <option value="พังงา">พังงา</option>
              <option value="พัทลุง">พัทลุง</option>
              <option value="พิจิตร">พิจิตร</option>
              <option value="พิษณุโลก">พิษณุโลก</option>
              <option value="เพชรบุรี">เพชรบุรี</option>
              <option value="เพชรบูรณ์">เพชรบูรณ์</option>
              <option value="แพร่">แพร่</option>
              <option value="ภูเก็ต">ภูเก็ต</option>
              <option value="มหาสารคาม">มหาสารคาม</option>
              <option value="มุกดาหาร">มุกดาหาร</option>
              <option value="แม่ฮ่องสอน">แม่ฮ่องสอน</option>
              <option value="ยโสธร">ยโสธร</option>
              <option value="ยะลา">ยะลา</option>
              <option value="ร้อยเอ็ด">ร้อยเอ็ด</option>
              <option value="ระนอง">ระนอง</option>
              <option value="ระยอง">ระยอง</option>
              <option value="ราชบุรี">ราชบุรี</option>
              <option value="ลพบุรี">ลพบุรี</option>
              <option value="เลย">เลย</option>
              <option value="ลำปาง">ลำปาง</option>
              <option value="ลำพูน">ลำพูน</option>
              <option value="ศรีสะเกษ">ศรีสะเกษ</option>
              <option value="สกลนคร">สกลนคร</option>
              <option value="สงขลา">สงขลา</option>
              <option value="สตูล">สตูล</option>
              <option value="สมุทรปราการ">สมุทรปราการ</option>
              <option value="สมุทรสงคราม">สมุทรสงคราม</option>
              <option value="สมุทรสาคร">สมุทรสาคร</option>
              <option value="สระแก้ว">สระแก้ว</option>
              <option value="สระบุรี">สระบุรี</option>
              <option value="สิงห์บุรี">สิงห์บุรี</option>
              <option value="สุโขทัย">สุโขทัย</option>
              <option value="สุพรรณบุรี">สุพรรณบุรี</option>
              <option value="สุราษฎร์ธานี">สุราษฎร์ธานี</option>
              <option value="สุรินทร์">สุรินทร์</option>
              <option value="หนองคาย">หนองคาย</option>
              <option value="หนองบัวลำภู">หนองบัวลำภู</option>
              <option value="อ่างทอง">อ่างทอง</option>
              <option value="อำนาจเจริญ">อำนาจเจริญ</option>
              <option value="อุดรธานี">อุดรธานี</option>
              <option value="อุตรดิตถ์">อุตรดิตถ์</option>
              <option value="อุทัยธานี">อุทัยธานี</option>
              <option value="อุบลราชธานี">อุบลราชธานี</option>
          </select>
        </div>
        <div class="mb-3">
          <label>อำเภอ</label>
          <input type="text" list="dist" class="form-control" id="district" name="district" required data-validation-required-message="กรุณาระบุอำเภอ" placeholder="อำเภอ">
				<datalist id="dist">
					<option value="เมืองกระบี่">
<option value="เกาะลันตา">
<option value="เขาพนม">
<option value="คลองท่อม">
<option value="ปลายพระยา">
<option value="ลำทับ">
<option value="เหนือคลอง">
<option value="อ่าวลึก">
<option value="คลองสาน">
<option value="คลองเตย">
<option value="จอมทอง">
<option value="จตุจักร">
<option value="ดุสิต">
<option value="ดอนเมือง">
<option value="ตลิ่งชัน">
<option value="ธนบุรี">
<option value="บางกอกน้อย">
<option value="บางกอกใหญ่">
<option value="บางกะปิ">
<option value="บางขุนเทียน">
<option value="บางเขน">
<option value="บางคอแหลม">
<option value="บางซื่อ">
<option value="บางพลัด">
<option value="บางรัก">
<option value="บึงกุ่ม">
<option value="ประเวศ">
<option value="ปทุมวัน">
<option value="ป้อมปราบศัตรูพ่าย">
<option value="พญาไท">
<option value="พระโขนง">
<option value="พระนคร">
<option value="ภาษีเจริญ">
<option value="มีนบุรี">
<option value="ยานนาวา">
<option value="ราชเทวี">
<option value="ราษฎร์บูรณะ">
<option value="ลาดกระบัง">
<option value="ลาดพร้าว">
<option value="สาทร">
<option value="สัมพันธวงศ์">
<option value="หนองแขม">
<option value="หนองจอก">
<option value="ห้วยขวาง">
<option value="สวนหลวง">
<option value="ดินแดง">
<option value="หลักสี่">
<option value="สายไหม">
<option value="คันนายาว">
<option value="สะพานสูง">
<option value="วังทองหลาง">
<option value="คลองสามวา">
<option value="วัฒนา">
<option value="บางนา">
<option value="ทวีวัฒนา">
<option value="บางแค">
<option value="ทุ่งครุ">
<option value="บางบอน">
<option value="เมืองกาญจนบุรี">
<option value="ด่านมะขามเตี้ย">
<option value="ทองผาภูมิ">
<option value="ท่าม่วง">
<option value="ท่ามะกา">
<option value="ไทรโยค">
<option value="บ่อพลอย">
<option value="พนมทวน">
<option value="เลาขวัญ">
<option value="ศรีสวัสดิ์">
<option value="สังขละบุรี">
<option value="หนองปรือ">
<option value="ห้วยกระเจา">
<option value="เมืองกาฬสินธุ์">
<option value="กมลาไสย">
<option value="กุฉินารายณ์">
<option value="เขาวง">
<option value="คำม่วง">
<option value="ท่าคันโท">
<option value="นามน">
<option value="ยางตลาด">
<option value="ร่องคำ">
<option value="สมเด็จ">
<option value="สหัสขันธ์">
<option value="หนองกุงศรี">
<option value="ห้วยผึ้ง">
<option value="ห้วยเม็ก">
<option value="นาคู">
<option value="สามชัย">
<option value="ดอนจาน">
<option value="ฆ้องชัย">
<option value="เมืองกำแพงเพชร">
<option value="ขาณุวรลักษบุรี">
<option value="คลองขลุง">
<option value="คลองลาน">
<option value="ทรายทองวัฒนา">
<option value="ไทรงาม">
<option value="ปางศิลาทอง">
<option value="พรานกระต่าย">
<option value="ลานกระบือ">
<option value="บึงสามัคคี">
<option value="โกสัมพีนคร">
<option value="เมืองขอนแก่น">
<option value="กระนวน">
<option value="เขาสวนกวาง">
<option value="โคกโพธิ์ไชย">
<option value="ชำสูง">
<option value="ชนบท">
<option value="ชุมแพ">
<option value="น้ำพอง">
<option value="บ้านไผ่">
<option value="บ้านฝาง">
<option value="เปือยน้อย">
<option value="พล">
<option value="พระยืน">
<option value="ภูเวียง">
<option value="ภูผาม่าน">
<option value="มัญจาคีรี">
<option value="แวงน้อย">
<option value="แวงใหญ่">
<option value="สีชมพู">
<option value="หนองสองห้อง">
<option value="หนองเรือ">
<option value="หนองนาคำ">
<option value="อุบลรัตน์">
<option value="โนนศิลา">
<option value="บ้านแฮด">
<option value="เมืองจันทบุรี">
<option value="แก่งหางแมว">
<option value="ขลุง">
<option value="ท่าใหม่">
<option value="นายายอาม">
<option value="โป่งน้ำร้อน">
<option value="มะขาม">
<option value="สอยดาว">
<option value="แหลมสิงห์">
<option value="เขาคิชฌกูฏ">
<option value="เมืองฉะเชิงเทรา">
<option value="บางคล้า">
<option value="บางน้ำเปรี้ยว">
<option value="บางปะกง">
<option value="บ้านโพธิ์">
<option value="แปลงยาว">
<option value="พนมสารคาม">
<option value="ราชสาส์น">
<option value="สนามชัยเขต">
<option value="ท่าตะเกียบ">
<option value="คลองเขื่อน">
<option value="เมืองชลบุรี">
<option value="เกาะสีชัง">
<option value="บ่อทอง">
<option value="บางละมุง">
<option value="บ้านบึง">
<option value="พานทอง">
<option value="พนัสนิคม">
<option value="ศรีราชา">
<option value="สัตหีบ">
<option value="หนองใหญ่">
<option value="เกาะจันทร์">
<option value="เมืองชัยนาท">
<option value="มโนรมย์">
<option value="วัดสิงห์">
<option value="สรรคบุรี">
<option value="สรรพยา">
<option value="หันคา">
<option value="หนองมะโมง">
<option value="เนินขาม">
<option value="เมืองชัยภูมิ">
<option value="เกษตรสมบูรณ์">
<option value="แก้งคร้อ">
<option value="คอนสวรรค์">
<option value="คอนสาร">
<option value="จัตุรัส">
<option value="เทพสถิต">
<option value="เนินสง่า">
<option value="บ้านเขว้า">
<option value="บ้านแท่น">
<option value="บำเหน็จณรงค์">
<option value="ภูเขียว">
<option value="ภักดีชุมพล">
<option value="หนองบัวแดง">
<option value="หนองบัวระเหว">
<option value="ซับใหญ่">
<option value="เมืองชุมพร">
<option value="ท่าแซะ">
<option value="ทุ่งตะโก">
<option value="ปะทิว">
<option value="พะโต๊ะ">
<option value="ละแม">
<option value="สวี">
<option value="หลังสวน">
<option value="เมืองเชียงราย">
<option value="ขุนตาล">
<option value="เชียงของ">
<option value="เชียงแสน">
<option value="เทิง">
<option value="ป่าแดด">
<option value="พาน">
<option value="แม่จัน">
<option value="แม่ฟ้าหลวง">
<option value="แม่สรวย">
<option value="แม่สาย">
<option value="เวียงแก่น">
<option value="เวียงชัย">
<option value="เวียงป่าเป้า">
<option value="พญาเม็งราย">
<option value="แม่ลาว">
<option value="ดอยหลวง">
<option value="เวียงเชียงรุ้ง">
<option value="เมืองเชียงใหม่">
<option value="จอมทอง">
<option value="เชียงดาว">
<option value="ไชยปราการ">
<option value="ดอยเต่า">
<option value="ดอยหล่อ">
<option value="ดอยสะเก็ด">
<option value="ฝาง">
<option value="พร้าว">
<option value="แม่แจ่ม">
<option value="แม่แตง">
<option value="แม่ริม">
<option value="แม่วาง">
<option value="แม่อาย">
<option value="แม่ออน">
<option value="เวียงแหง">
<option value="สะเมิง">
<option value="สันกำแพง">
<option value="สันทราย">
<option value="สันป่าตอง">
<option value="สารภี">
<option value="หางดง">
<option value="อมก๋อย">
<option value="ฮอด">
<option value="เมืองตรัง">
<option value="กันตัง">
<option value="ปะเหลียน">
<option value="ย่านตาขาว">
<option value="รัษฎา">
<option value="สิเกา">
<option value="ห้วยยอด">
<option value="วังวิเศษ">
<option value="หาดสำราญ">
<option value="นาโยง">
<option value="เมืองตราด">
<option value="เกาะช้าง">
<option value="เขาสมิง">
<option value="คลองใหญ่">
<option value="บ่อไร่">
<option value="แหลมงอบ">
<option value="เกาะกูด">
<option value="เมืองตาก">
<option value="ท่าสองยาง">
<option value="บ้านตาก">
<option value="พบพระ">
<option value="แม่ระมาด">
<option value="แม่สอด">
<option value="สามเงา">
<option value="อุ้มผาง">
<option value="วังเจ้า">
<option value="เมืองนครนายก">
<option value="บ้านนา">
<option value="ปากพลี">
<option value="องครักษ์">
<option value="เมืองนครปฐม">
<option value="กำแพงแสน">
<option value="ดอนตูม">
<option value="นครชัยศรี">
<option value="บางเลน">
<option value="พุทธมณฑล">
<option value="สามพราน">
<option value="เมืองนครพนม">
<option value="ท่าอุเทน">
<option value="ธาตุพนม">
<option value="นาแก">
<option value="นาหว้า">
<option value="บ้านแพง">
<option value="ปลาปาก">
<option value="โพนสวรรค์">
<option value="เรณูนคร">
<option value="ศรีสงคราม">
<option value="วังยาง">
<option value="นาทม">
<option value="เมืองนครราชสีมา">
<option value="แก้งสนามนาง">
<option value="ขามทะเลสอ">
<option value="ขามสะแกแสง">
<option value="คง">
<option value="ครบุรี">
<option value="จักราช">
<option value="ชุมพวง">
<option value="โชคชัย">
<option value="ด่านขุนทด">
<option value="โนนแดง">
<option value="โนนไทย">
<option value="โนนสูง">
<option value="บัวใหญ่">
<option value="บ้านเหลื่อม">
<option value="ประทาย">
<option value="ปักธงชัย">
<option value="ปากช่อง">
<option value="พิมาย">
<option value="วังน้ำเขียว">
<option value="สีคิ้ว">
<option value="สูงเนิน">
<option value="เสิงสาง">
<option value="ห้วยแถลง">
<option value="หนองบุนนาก">
<option value="เทพารักษ์">
<option value="เมืองยาง">
<option value="พระทองคำ">
<option value="ลำทะเมนชัย">
<option value="เฉลิมพระเกียรติ">
<option value="สีดา">
<option value="บัวลาย">
<option value="เมืองนครศรีธรรมราช">
<option value="ขนอม">
<option value="ฉวาง">
<option value="ชะอวด">
<option value="เชียรใหญ่">
<option value="ท่าศาลา">
<option value="ทุ่งใหญ่">
<option value="ทุ่งสง">
<option value="พระพรหม">
<option value="นาบอน">
<option value="บางขัน">
<option value="ปากพนัง">
<option value="พรหมคีรี">
<option value="พิปูน">
<option value="ร่อนพิบูลย์">
<option value="ลานสะกา">
<option value="สิชล">
<option value="หัวไทร">
<option value="จุฬาภรณ์">
<option value="นบพิตำ">
<option value="ช้างกลาง">
<option value="ถ้ำพรรณรา">
<option value="เฉลิมพระเกียรติ">
<option value="เมืองนครสวรรค์">
<option value="เก้าเลี้ยว">
<option value="โกรกพระ">
<option value="ชุมแสง">
<option value="ตากฟ้า">
<option value="ตาคลี">
<option value="ท่าตะโก">
<option value="บรรพตพิสัย">
<option value="พยุหคีรี">
<option value="ไพศาลี">
<option value="แม่วงก์">
<option value="ลาดยาว">
<option value="หนองบัว">
<option value="แม่เปิน">
<option value="ชุมตาบง">
<option value="เมืองนนทบุรี">
<option value="ไทรน้อย">
<option value="บางกรวย">
<option value="บางบัวทอง">
<option value="บางใหญ่">
<option value="ปากเกร็ด">
<option value="เมืองนราธิวาส">
<option value="จะแนะ">
<option value="ตากใบ">
<option value="บาเจาะ">
<option value="ยี่งอ">
<option value="ระแงะ">
<option value="รือเสาะ">
<option value="แว้ง">
<option value="ศรีสาคร">
<option value="สุคิริน">
<option value="สุไหงโกลก">
<option value="สุไหงปาดี">
<option value="เจาะไอร้อง">
<option value="เมืองน่าน">
<option value="เชียงกลาง">
<option value="ท่าวังผา">
<option value="ทุ่งช้าง">
<option value="นาน้อย">
<option value="นาหมื่น">
<option value="บ้านหลวง">
<option value="ปัว">
<option value="แม่จริม">
<option value="เวียงสา">
<option value="สันติสุข">
<option value="บ่อเกลือ">
<option value="สองแคว">
<option value="เฉลิมพระเกียรติ">
<option value="ภูเพียง">
<option value="เมืองบุรีรัมย์">
<option value="กระสัง">
<option value="คูเมือง">
<option value="ชำนิ">
<option value="นาโพธิ์">
<option value="นางรอง">
<option value="โนนดินแดง">
<option value="โนนสุวรรณ">
<option value="บ้านกรวด">
<option value="พลับพลาชัย">
<option value="บ้านใหม่ไชยพจน์">
<option value="ประโคนชัย">
<option value="ปะคำ">
<option value="พุทไธสง">
<option value="ละหานทราย">
<option value="ลำปลายมาศ">
<option value="สตึก">
<option value="หนองกี่">
<option value="หนองหงส์">
<option value="ห้วยราช">
<option value="บ้านด่าน">
<option value="เฉลิมพระเกียรติ">
<option value="แคนดง">
<option value="เมืองปทุมธานี">
<option value="คลองหลวง">
<option value="ธัญบุรี">
<option value="ลาดหลุมแก้ว">
<option value="ลำลูกกา">
<option value="สามโคก">
<option value="หนองเสือ">
<option value="เมืองประจวบคีรีขันธ์">
<option value="กุยบุรี">
<option value="ทับสะแก">
<option value="บางสะพาน">
<option value="บางสะพานน้อย">
<option value="ปราณบุรี">
<option value="หัวหิน">
<option value="สามร้อยยอด">
<option value="เมืองปราจีนบุรี">
<option value="กบินทร์บุรี">
<option value="ศรีมโหสถ">
<option value="นาดี">
<option value="บ้านสร้าง">
<option value="ประจันตคาม">
<option value="ศรีมหาโพธิ">
<option value="เมืองปัตตานี">
<option value="กะพ้อ">
<option value="โคกโพธิ์">
<option value="ทุ่งยางแดง">
<option value="ปะนาเระ">
<option value="มายอ">
<option value="ไม้แก่น">
<option value="ยะรัง">
<option value="ยะหริ่ง">
<option value="สายบุรี">
<option value="หนองจิก">
<option value="แม่ลาน">
<option value="พระนครศรีอยุธยา">
<option value="ท่าเรือ">
<option value="นครหลวง">
<option value="บางซ้าย">
<option value="บางไทร">
<option value="บางบาล">
<option value="บางปะหัน">
<option value="บางปะอิน">
<option value="บ้านแพรก">
<option value="ผักไห่">
<option value="ภาชี">
<option value="มหาราช">
<option value="ลาดบัวหลวง">
<option value="วังน้อย">
<option value="เสนา">
<option value="อุทัย">
<option value="เมืองพะเยา">
<option value="จุน">
<option value="เชียงคำ">
<option value="เชียงม่วน">
<option value="ดอกคำใต้">
<option value="ปง">
<option value="แม่ใจ">
<option value="ภูซาง">
<option value="ภูกามยาว">
<option value="เมืองพังงา">
<option value="กะปง">
<option value="เกาะยาว">
<option value="คุระบุรี">
<option value="ตะกั่วทุ่ง">
<option value="ตะกั่วป่า">
<option value="ทับปุด">
<option value="ท้ายเหมือง">
<option value="เมืองพัทลุง">
<option value="กงหรา">
<option value="เขาชัยสน">
<option value="ควนขนุน">
<option value="ตะโหมด">
<option value="ปากพะยูน">
<option value="ป่าบอน">
<option value="ป่าพะยอม">
<option value="ศรีบรรพต">
<option value="บางแก้ว">
<option value="ศรีนครินทร์">
<option value="เมืองพิจิตร">
<option value="ตะพานหิน">
<option value="ทับคล้อ">
<option value="บางมูลนาก">
<option value="โพทะเล">
<option value="โพธิ์ประทับช้าง">
<option value="สามง่าม">
<option value="วังทรายพูน">
<option value="สากเหล็ก">
<option value="บึงนาราง">
<option value="ดงเจริญ">
<option value="วชิรบารมี">
<option value="เมืองพิษณุโลก">
<option value="นครไทย">
<option value="ชาติตระการ">
<option value="เนินมะปราง">
<option value="บางกระทุ่ม">
<option value="บางระกำ">
<option value="พรหมพิราม">
<option value="วังทอง">
<option value="วัดโบสถ์">
<option value="เมืองเพชรบุรี">
<option value="แก่งกระจาน">
<option value="เขาย้อย">
<option value="ชะอำ">
<option value="ท่ายาง">
<option value="บ้านลาด">
<option value="บ้านแหลม">
<option value="หนองหญ้าปล้อง">
<option value="เมืองเพชรบูรณ์">
<option value="เขาค้อ">
<option value="ชนแดน">
<option value="น้ำหนาว">
<option value="บึงสามพัน">
<option value="วิเชียรบุรี">
<option value="ศรีเทพ">
<option value="หนองไผ่">
<option value="หล่มเก่า">
<option value="หล่มสัก">
<option value="วังโป่ง">
<option value="เมืองแพร่">
<option value="เด่นชัย">
<option value="ร้องกวาง">
<option value="ลอง">
<option value="วังชิ้น">
<option value="สอง">
<option value="หนองม่วงไข่">
<option value="สูงเม่น">
<option value="เมืองภูเก็ต">
<option value="กะทู้">
<option value="ถลาง">
<option value="เมืองมหาสารคาม">
<option value="กันทรวิชัย">
<option value="แกดำ">
<option value="โกสุมพิสัย">
<option value="เชียงยืน">
<option value="นาเชือก">
<option value="นาดูน">
<option value="บรบือ">
<option value="พยัคฆภูมิพิสัย">
<option value="วาปีปทุม">
<option value="กุดรัง">
<option value="ยางสีสุราช">
<option value="ชื่นชม">
<option value="เมืองมุกดาหาร">
<option value="คำชะอี">
<option value="ดงหลวง">
<option value="ดอนตาล">
<option value="นิคมคำสร้อย">
<option value="หนองสูง">
<option value="หว้านใหญ่">
<option value="เมืองแม่ฮ่องสอน">
<option value="ขุนยวม">
<option value="ปางมะผ้า">
<option value="ปาย">
<option value="แม่ลาน้อย">
<option value="แม่สะเรียง">
<option value="สบเมย">
<option value="เมืองยโสธร">
<option value="กุดชุม">
<option value="ค้อวัง">
<option value="คำเขื่อนแก้ว">
<option value="ไทยเจริญ">
<option value="ทรายมูล">
<option value="ป่าติ้ว">
<option value="มหาชนะชัย">
<option value="เลิงนกทา">
<option value="เมืองยะลา">
<option value="กาบัง">
<option value="กรงปินัง">
<option value="ธารโต">
<option value="บันนังสตา">
<option value="เบตง">
<option value="ยะหา">
<option value="รามัน">
<option value="เมืองร้อยเอ็ด">
<option value="เกษตรวิสัย">
<option value="จตุรพักตร์พิมาน">
<option value="จังหาร">
<option value="ธวัชบุรี">
<option value="ปทุมรัตน์">
<option value="พนมไพร">
<option value="โพธิ์ชัย">
<option value="โพนทราย">
<option value="โพนทอง">
<option value="เมยวดี">
<option value="เมืองสรวง">
<option value="ศรีสมเด็จ">
<option value="เสลภูมิ">
<option value="สุวรรณภูมิ">
<option value="หนองพอก">
<option value="อาจสามารถ">
<option value="เชียงขวัญ">
<option value="หนองฮี">
<option value="ทุ่งเขาหลวง">
<option value="เมืองระนอง">
<option value="กระบุรี">
<option value="กะเปอร์">
<option value="ละอุ่น">
<option value="สุขสำราญ">
<option value="เมืองระยอง">
<option value="แกลง">
<option value="บ้านค่าย">
<option value="บ้านฉาง">
<option value="ปลวกแดง">
<option value="วังจันทร์">
<option value="เขาชะเมา">
<option value="นิคมพัฒนา">
<option value="เมืองราชบุรี">
<option value="จอมบึง">
<option value="ดำเนินสะดวก">
<option value="บางแพ">
<option value="บ้านโป่ง">
<option value="ปากท่อ">
<option value="โพธาราม">
<option value="วัดเพลง">
<option value="สวนผึ้ง">
<option value="บ้านคา">
<option value="เมืองลพบุรี">
<option value="โคกเจริญ">
<option value="โคกสำโรง">
<option value="ชัยบาดาล">
<option value="ท่าวุ้ง">
<option value="ท่าหลวง">
<option value="บ้านหมี่">
<option value="พัฒนานิคม">
<option value="ลำสนธิ">
<option value="สระโบถส์">
<option value="หนองม่วง">
<option value="เมืองเลย">
<option value="เชียงคาน">
<option value="ด่านซ้าย">
<option value="ท่าลี่">
<option value="นาด้วง">
<option value="นาแห้ว">
<option value="ปากชม">
<option value="ผาขาว">
<option value="ภูกระดึง">
<option value="ภูเรือ">
<option value="ภูหลวง">
<option value="วังสะพุง">
<option value="เอราวัณ">
<option value="หนองหิน">
<option value="เมืองลำปาง">
<option value="เกาะคา">
<option value="งาว">
<option value="แจ้ห่ม">
<option value="เถิน">
<option value="แม่ทะ">
<option value="แม่พริก">
<option value="เมืองปาน">
<option value="แม่เมาะ">
<option value="วังเหนือ">
<option value="สบปราบ">
<option value="เสริมงาม">
<option value="ห้างฉัตร">
<option value="เมืองลำพูน">
<option value="ทุ่งหัวช้าง">
<option value="บ้านโฮ่ง">
<option value="ป่าซาง">
<option value="แม่ทา">
<option value="ลี้">
<option value="บ้านธิ">
<option value="เวียงหนองล่อง">
<option value="เมืองศีรสะเกษ">
<option value="กันทรลักษ์">
<option value="กันทรารมย์">
<option value="ขุขันธ์">
<option value="ขุนหาญ">
<option value="น้ำเกลี้ยง">
<option value="โนนคูณ">
<option value="บึงบูรพ์">
<option value="เบญจลักษณ์">
<option value="ปรางค์กู่">
<option value="พยุห์">
<option value="ไพรบึง">
<option value="โพธิ์ศรีสุวรรณ">
<option value="ภูสิงห์">
<option value="เมืองจันทร์">
<option value="ยางชุมน้อย">
<option value="ราษีไศล">
<option value="วังหิน">
<option value="ศรีรัตนะ">
<option value="ห้วยทับทัน">
<option value="อุทุมพรพิสัย">
<option value="ศิลาลาด">
<option value="เมืองสกลนคร">
<option value="กุดบาก">
<option value="กุสุมาลย์">
<option value="คำตากล้า">
<option value="เจริญศิลป์">
<option value="เต่างอย">
<option value="นิคมน้ำอูน">
<option value="บ้านม่วง">
<option value="พรรณานิคม">
<option value="พังโคน">
<option value="วานรนิวาส">
<option value="วาริชภูมิ">
<option value="โคกศรีสุพรรณ">
<option value="สว่างแดนดิน">
<option value="ส่องดาว">
<option value="อากาศอำนวย">
<option value="ภูพาน">
<option value="โพนนาแก้ว">
<option value="เมืองสงขลา">
<option value="กระแสสินธุ์">
<option value="ควนเนียง">
<option value="จะนะ">
<option value="เทพา">
<option value="นาทวี">
<option value="นาหม่อม">
<option value="บางกล่ำ">
<option value="ระโนด">
<option value="รัตภูมิ">
<option value="สทิงพระ">
<option value="สะเดา">
<option value="สะบ้าย้อย">
<option value="สิงหนคร">
<option value="หาดใหญ่">
<option value="คลองหอยโข่ง">
<option value="เมืองสตูล">
<option value="ควนกาหลง">
<option value="ควนโดน">
<option value="ท่าแพ">
<option value="ทุ่งหว้า">
<option value="ละงู">
<option value="มะนัง">
<option value="เมืองสมุทรปราการ">
<option value="บางบ่อ">
<option value="บางพลี">
<option value="พระประแดง">
<option value="พระสมุทรเจดีย์">
<option value="บางเสาธง">
<option value="เมืองสมุทรสงคราม">
<option value="บางคณที">
<option value="อัมพวา">
<option value="เมืองสมุทรสาคร">
<option value="กระทุ่มแบน">
<option value="บ้านแพ้ว">
<option value="เมืองสระแก้ว">
<option value="เขาฉกรรจ์">
<option value="คลองหาด">
<option value="ตาพระยา">
<option value="วังน้ำเย็น">
<option value="วัฒนานคร">
<option value="อรัญประเทศ">
<option value="โคกสูง">
<option value="วังสมบูรณ์">
<option value="เมืองสระบุรี">
<option value="แก่งคอย">
<option value="ดอนพุด">
<option value="บ้านหมอ">
<option value="พระพุทธบาท">
<option value="มวกเหล็ก">
<option value="วิหารแดง">
<option value="เสาไห้">
<option value="หนองแค">
<option value="หนองแซง">
<option value="หนองโดน">
<option value="วังม่วง">
<option value="เฉลิมพระเกียรติ">
<option value="เมืองสิงห์บุรี">
<option value="ค่ายบางระจัน">
<option value="ท่าช้าง">
<option value="บางระจัน">
<option value="พรหมบุรี">
<option value="อินทร์บุรี">
<option value="เมืองสุโขทัย">
<option value="กงไกรลาศ">
<option value="คีรีมาศ">
<option value="ทุ่งเสลี่ยม">
<option value="บ้านด่านลานหอย">
<option value="ศรีนคร">
<option value="ศรีสัชนาลัย">
<option value="ศรีสำโรง">
<option value="สวรรคโลก">
<option value="เมืองสุพรรณบุรี">
<option value="ดอนเจดีย์">
<option value="ด่านช้าง">
<option value="เดิมบางนางบวช">
<option value="บางปลาม้า">
<option value="ศรีประจันต์">
<option value="สองพี่น้อง">
<option value="สามชุก">
<option value="อู่ทอง">
<option value="หนองหญ้าไซ">
<option value="เมืองสุราษฎร์ธานี">
<option value="กาญจนดิษฐ์">
<option value="เกาะพะงัน">
<option value="เกาะสมุย">
<option value="คีรีรัฐนิคม">
<option value="เคียนซา">
<option value="ชัยบุรี">
<option value="ไชยา">
<option value="ดอนสัก">
<option value="ท่าฉาง">
<option value="ท่าชนะ">
<option value="บ้านตาขุน">
<option value="บ้านนาเดิม">
<option value="บ้านนาสาร">
<option value="พนม">
<option value="พระแสง">
<option value="พุนพิน">
<option value="วิภาวดี">
<option value="เวียงสระ">
<option value="เมืองสุรินทร์">
<option value="กาบเชิง">
<option value="จอมพระ">
<option value="ชุมพลบุรี">
<option value="ท่าตูม">
<option value="บัวเชด">
<option value="ปราสาท">
<option value="รัตนบุรี">
<option value="ลำดวน">
<option value="ศีขรภูมิ">
<option value="สนม">
<option value="สังขะ">
<option value="สำโรงทาบ">
<option value="ศรีณรงค์">
<option value="พนมดงรัก">
<option value="เขวาสินรินทร์">
<option value="โนนนารายณ์">
<option value="เมืองหนองคาย">
<option value="เซกา">
<option value="โซ่พิสัย">
<option value="ท่าบ่อ">
<option value="บึงกาฬ">
<option value="บึงโขลงหลง">
<option value="ปากคาด">
<option value="พรเจริญ">
<option value="โพนพิสัย">
<option value="ศรีเชียงใหม่">
<option value="ศรีวิไล">
<option value="สังคม">
<option value="สระใคร่">
<option value="บุ่งคล้า">
<option value="รัตนวาปี">
<option value="เฝ้าไร่">
<option value="โพธิ์ตาก">
<option value="เมืองหนองบัวลำภู">
<option value="นากลาง">
<option value="โนนสัง">
<option value="ศรีบุญเรือง">
<option value="สุวรรณคูหา">
<option value="นาวัง">
<option value="เมืองอ่างทอง">
<option value="ไชโย">
<option value="ป่าโมก">
<option value="โพธิ์ทอง">
<option value="วิเศษชัยชาญ">
<option value="สามโก้">
<option value="แสวงหา">
<option value="เมืองอำนาจเจริญ">
<option value="ชานุมาน">
<option value="ปทุมราชวงศา">
<option value="พนา">
<option value="เสนางคนิคม">
<option value="หัวตะพาน">
<option value="ลืออำนาจ">
<option value="เมืองอุดรธานี">
<option value="กู่แก้ว">
<option value="กุดจับ">
<option value="กุมภวาปี">
<option value="ไชยวาน">
<option value="ทุ่งฝน">
<option value="นายูง">
<option value="น้ำโสม">
<option value="โนนสะอาด">
<option value="บ้านดุง">
<option value="บ้านผือ">
<option value="พิบูลย์รักษ์">
<option value="เพ็ญ">
<option value="วังสามหมอ">
<option value="ศรีธาตุ">
<option value="สร้างคอม">
<option value="หนองวัวซอ">
<option value="หนองหาน">
<option value="หนองแสง">
<option value="ประจักษ์ศิลปาคาม">
<option value="เมืองอุตรดิตถ์">
<option value="ตรอน">
<option value="ทองแสนขัน">
<option value="ท่าปลา">
<option value="น้ำปาด">
<option value="บ้านโคก">
<option value="พิชัย">
<option value="ฟากท่า">
<option value="ลับแล">
<option value="เมืองอุทัยธานี">
<option value="ทัพทัน">
<option value="บ้านไร่">
<option value="ลานสัก">
<option value="สว่างอารมณ์">
<option value="หนองขาหย่าง">
<option value="หนองฉาง">
<option value="ห้วยคต">
<option value="เมืองอุบลราชธานี">
<option value="กุดข้าวปุ้น">
<option value="เขมราฐ">
<option value="เขื่องใน">
<option value="โขงเจียม">
<option value="เดชอุดม">
<option value="ตระการพืชผล">
<option value="ตาลสุม">
<option value="ทุ่งศรีอุดม">
<option value="นาจะหลวย">
<option value="น้ำยืน">
<option value="บุณฑริก">
<option value="พิบูลมังสาหาร">
<option value="โพธิ์ไทร">
<option value="ม่วงสามสิบ">
<option value="เหล่าเสือโก้ก">
<option value="วารินชำราบ">
<option value="ศรีเมืองใหม่">
<option value="สำโรง">
<option value="สิรินธร">
<option value="นาเยีย">
<option value="นาตาล">
<option value="สว่างวีระวงศ์">
<option value="น้ำขุ่น">
<option value="ดอนมดแดง">
				</datalist>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3">
            <label for="country">Country</label>
           		{{ form.country }}
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="state">City</label>
            <select class="custom-select d-block w-100" id="state" required>
              <option value="">Choose...</option>
              <option>California</option>
              <option>Yangon</option>

            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="zip">Zip</label>
            {{ form.zip }}
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <tr>
          <td>จังหวัด : </td>
          <td><select class="custom-select d-block w-100" id="province">
              <option>- กรุณาเลือกจังหวัด -</option>
            </select></td>
        </tr>
        <tr>
          <td>อำเภอ : </td>
          <td><select class="custom-select d-block w-100" id="amphur">
              <option>- กรุณาเลือกอำเภอ -</option>
            </select></td>
        </tr>
        <tr>
          <td>ตำบล : </td>
          <td><select class="custom-select d-block w-100" id="district">
              <option>- กรุณาเลือกตำบล -</option>
            </select></td>
        </tr>
        <div class="mb-3">
          <label for="zip">รหัสไปรษณีย์ :</label>
          {{ form.zip }}
          <div class="invalid-feedback">
            รหัสไปรษณีย์
          </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input {% if form.same_shipping_address.value %}checked{% endif %} type="checkbox" class="custom-control-input" id="same_shipping_address">
          
          <label class="custom-control-label" for="same_shipping_address">Shipping address is the same as my billing address</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input {% if form.save_info.value %}checked{% endif %} type="checkbox" class="custom-control-input" id="save-info">
          
          <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>
<!-- 
        <div class="d-block my-3">
        	{% for value, name in form.fields.payment_option.choices %}
          <div class="custom-control custom-radio">
            <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input"  required>
            <label class="custom-control-label" for="{{name}}">{{ name }}</label>
          </div>
          {% endfor %}
        </div>
         -->
              
        <section class="text-center" id="generate">
          <th scope="row">{{ forloop.counter }}</th>
          <!-- <tr>
            <td colspan="5"><b>Order Total : </b></td>
            <td><b>${{ object.get_total }}</b></td>
          </tr> -->
            <form>
                <input type="hidden" value="0863412381" pattern="\d*" class="form-control" id="pp-id"
                  onKeyPress="if(this.value.length==15) return false;" required>
                <input type="hidden" value="{{ order.get_total }}" step="0.01" class="form-control" id="amount">
                <input type="hidden" value="นางสาวพิไลลักษณ์ รอดผล" step="0.01" class="form-control" id="acname">
              <button type="button" class="btn btn-primary btn-lg" id="myBtn">PromptPay QR</button>
            </form>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">QR Code รับเงิน</h4>
        </div>
        <div class="modal-body" style="margin: auto;">
          <img src="{% static 'images/PromptPay-logo.jpg' %}" alt="พร้อมเพย์" style="max-width: 250px;margin-bottom: 10px;">
          <div id="qrcode" style="width:250px; height:250px;"></div>
          หมายเลขพร้อมเพย์
          <div id="pp-id-show" style="text-align: center; margin-top: 10px;"></div>
          <div id="amount-show" style="text-align: center;"></div>
          <div id="acname-show" style="text-align: center;"></div>
          <div id="info-show" style="text-align: center; font-size: 70%; margin-top: 10px; color: #A6A6A6;">
            
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/qrcode.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/promptpay.js' %}"></script>

  <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <script src="{% static 'js/new-age.min.js' %}"></script>

  <script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
      width: 250,
      height: 250,
      correctLevel: QRCode.CorrectLevel.L
    });

    function makeCode() {
      var ppID = document.getElementById("pp-id").value;
      var amount = parseFloat(document.getElementById("amount").value);
      var acname = document.getElementById("acname").value;
      if (!ppID) {
        ppID = "promptpay.github.io";
      }

      qrcode.makeCode(generatePayload(ppID, amount, acname));
      $("#pp-id-show").html(ppID);
      $("#acname-show").html(acname);
      if (amount > 0.0) {
        $("#amount-show").html(Number(amount.toFixed(2)).toLocaleString() + " บาท");
      } else {
        $("#amount-show").html("");
      }
    }

    $(document).ready(function () {
      $("#myBtn").click(function () {
        var ppID = document.getElementById("pp-id").value;
        var amount = parseFloat(document.getElementById("amount").value);
        var acname = document.getElementById("acname").value;
        if (ppID == '') {
          $('#pp-id').addClass('is-invalid')
        } else {
          $('#amount').removeClass('is-invalid')
          $('#pp-id').removeClass('is-invalid')
          $('#acname').removeClass('is-invalid')
          makeCode();
          $("#pp-id").
          on("blur", function () {
            makeCode();
          }).
          on("keydown", function (e) {
            if (e.keyCode == 13) {
              makeCode();
            }
          });
          $("#amount").
          on("blur", function () {
            makeCode();
          }).
          on("keydown", function (e) {
            if (e.keyCode == 13) {
              makeCode();
            }
          });
          $("#acname").
          on("blur", function () {
            makeCode();
          }).
          on("keydown", function (e) {
            if (e.keyCode == 13) {
              makeCode();
            }
          });
          $("#myModal").modal();
        }
      });
    });
  </script>
  
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
      </form>
    </div>

    {% include "order_snippet.html" %}

  </div>
<!-- 
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2019 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer> -->
</div>
{% endblock content %}